.icon-arrow-left::before {
    icon-font: url('../../fixtures/icons/arrow-left.svg');
    color: red;
}

.icon-arrow-left-2::before {
    icon-font: url('../../fixtures/icons/same-name/arrow-left.svg');
    color: red;
}

.icon-arrow-up::before {
    icon-font: url('../../fixtures/icons/arrow-up.svg');
    color: blue;
}
