@import './test.scss';
body.test .des{
    color: salmon;
}
body .icon-arrow-left:before {
    icon-font: url('../../icons/arrow-left.svg');
    color: red;
}

body span.icon-arrow-slice:before {
    font-size:20px;
    color: blue;
    icon-font: url('../../icons/same-name/slice.svg');
}

.icon-arrow-up:before {
    icon-font: url('../../icons/same-name/arrow-left.svg');
    color: green;
}

.icon-arrow-up-1:before {
    /* icon-font: url('../../icons/same-name/arrow-right.svg'); */
    color: green;
}