body .icon-arrow-left:before,body span.icon-arrow-slice:before,.icon-arrow-up:before,.icon-arrow-up-1:before{
font-family: 'icon-font';
font-style: normal;
font-weight: normal;
font-variant: normal;
text-decoration: inherit;
text-rendering: optimizeLegibility;
text-transform: none;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
content: '\F101';

}
body.test .des{
    color: salmon
}
body .icon-arrow-left:before {
    color: red;
	content: '';
}

body span.icon-arrow-slice:before {
    font-size:20px;
    color: blue;
	content: '';
}

.icon-arrow-up:before {
    color: green;
	content: '';
}

.icon-arrow-up-1:before {
    color: green;
	content: '';
}.icon-slice:before{
font-family: 'icon-font';
font-style: normal;
font-weight: normal;
font-variant: normal;
text-decoration: inherit;
text-rendering: optimizeLegibility;
text-transform: none;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
content: '\F101';

}
.icon-slice:before {
    color: blue;
	content: '';
}