.icon-arrow-left:before {
    icon-font: url('../../icons/arrow-left.svg');
    color: red;
}

.icon-arrow-left-2:before {
    font-size:0px;
    color: blue;
}

.icon-arrow-up:before {
    icon-font: url('../../icons/same-name/arrow-left.svg');
    color: green;
}

.icon-arrow-up-1:before {
    icon-font: url('../../icons/same-name/arrow-right.svg');
    color: green;
}