.low::before {
    icon-font: url('../../fixtures/icons/low.svg');
    color: purple;
}

.normal::before {
    icon-font: url('../../fixtures/icons/normal.svg');
    color: purple;
}

.high::before {
    icon-font: url('../../fixtures/icons/high.svg');
    color: purple;
}
