.low::before {
    icon-font: url('../../icons/low.svg');
    color: purple;
}

.normal::before {
    icon-font: url('../../icons/normal.svg');
    color: purple;
}

.high::before {
    icon-font: url('../../icons/high.svg');
    color: purple;
}
