:local(.des){
    composes: item from "./com.css";
}
body .icon-arrow-left::before {
    icon-font: url('../../fixtures/icons/arrow-left.svg');
    color: red;
}

body span.icon-arrow-slice::before {
    font-size:20px;
    color: blue;
    icon-font: url('../../fixtures/icons/eiffel-tower.svg');
}
